@import "mixin";
@import "variables";

h1, .h1 { font-size: $font-size-h1; }
h2, .h2 { font-size: $font-size-h2; }
h3, .h3 { font-size: $font-size-h3; }
h4, .h4 { font-size: $font-size-h4; }
h5, .h5 { font-size: $font-size-h5; }
h6, .h6 { font-size: $font-size-h6; }

.notfound {
  font-size: 14px;
  text-align: center;
  padding-top: 100px;
  @include horizontal-center;
}

.icon-micro {
  color: #EB5424;
  margin-left: 3px;

  &.icon-cai {
    color: #00a65a;
  }
}

.text-lg {
  font-size: 18px;
}

.notifications-list {
  font-size: 12px;
}

.main-top {
  background-color: #ecf0f5;
}

.padding-header {
  padding-top: 15px;
}

.nav-simple {
  background-color: white;
  border-bottom: 1px solid #f4f4f4;
  &>li {
    display: inline-block;

    &>a {
      border-bottom: 0 solid;
      box-sizing: border-box;
      color: $text-color-default;

      &:focus, &:hover {
         background-color: transparent;
      }
    }

    &.active>a {
      color: $text-color-dark;
      border-bottom-width: 4px;
      border-color: $color-primary !important;
      font-weight: bold;
    }
  }

}

[class*=icon-oauth-] {
  display: inline-block;
  background-image: url(#{$images-path}/icon-sn.svg);
  background-repeat: no-repeat;
  width: 28px;
  height: 28px;
  vertical-align: middle;
  border-radius: 14px;
  background-size: auto 56px;
  margin: 0 10px;
}

.icon-oauth-weibo {
  background-color: #e90d24;
  background-position: -56px 0;
}

.icon-oauth-weibo-reverse {
  background-position: -56px -28px;
}

.icon-oauth-weixin {
  background-color: #00b500;
  background-position: -252px 0;
}

.icon-oauth-weixin-reverse {
  background-position: -252px -28px;
}

.icon-oauth-qq {
  background-color: #0098e6;
  background-position: -84px 0;
}

.icon-oauth-qq-reverse {
  background-position: -84px -28px;
}

.create-account-callout {
  text-align: center;
  margin-top: 10px;
}

.social-auth-links {
  background: #f3f7fb;
  padding: 20px;
  margin: 20px -20px -20px;
  text-align: center;
}
