@import "mixin";

.comment-action {
  padding: 0 5px;
}

.box-comments {
  background-color: white;
}

.box-comment {
  .comment-text {
    .username{
      line-height: 2em;

      .floor {
        color: #00a2d4;
        &:before {
          @include sp;
        }
      }

      .time {
        &:before {
          @include sp;
        }
      }
    }
  }
}
