@import "mixin";

.notfound {
  font-size: 14px;
  text-align: center;
  padding-top: 100px;
  @include horizontal-center;
}

.icon-micro {
  margin-left: 3px;
}

.text-lg {
  font-size: 18px;
}