@import "variables";

@mixin text-dark {
  color: $text-color-dark;
}

@mixin text-grey {
  color: $text-color-grey;
}

@mixin signle-line-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin horizontal-center {
  margin-left: auto;
  margin-right: auto;
}

@mixin input-border {
  border: 1px solid #d2d6de;;
}

@mixin input-border-active {
  border: 1px solid #3c8dbc;;
}

@mixin sp {
  content: '•';
  display: inline-block;
  padding: 0 5px;
}