@import "variables";

@mixin text-dark {
  color: $text-color-dark;
}

@mixin text-grey {
  color: $text-color-grey;
}

@mixin signle-line-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}