.simple {
  .content-header>.breadcrumb{
    position: relative;
    margin-top: 5px;
    top: 0;
    right: 0;
    float: none;
    background: transparent;
    padding-left: 10px;
  }

  .main-header #navbar-search-input.form-control:focus, .main-header #navbar-search-input.form-control:active {
    border: none;
  }

  @media (max-width: 992px) and (min-width: 768px) {
    .container {
      width: 100%;
    }
  }


}