@import "mixin";

.media-left, .modal-body, .media-right {
  vertical-align: middle;
}

.post-avatar {
  height: 48px;
  width: 48px;
}

.post-header {
  padding-top: 15px;
}

.post-title {
  font-size: 15px;
  line-height: 2em;
  display: inline;
  @include text-dark;
}

.post-title, .post-summary {
  @include signle-line-text;
}

.post-content {
  font-size: 14px;
}

.post-author:before,
.post-read-count:before,
.post-author-last:before {
  content: '•';
  display: inline-block;
  padding: 0 5px;
}

.post-footer {
  padding: 0.3em 0;
  font-size: 12px;

  a,span {
    @include text-grey;
  }

  .label {
    font-weight: normal;
    @include border-radius(2px);
  }
}

.tag {
  font-weight: 600;
}

.tag+.tag:before {
  @include sp;
}

.tag-sm {
  @include text-grey;
}
