@import "mixin";
.post {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-bottom: 1px solid #e1e8ed;
  width: 100%;
  @include border-radius(0);
  margin: 0;
  padding: 10px 15px;
  cursor: pointer;

  &:last-of-type {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 15px;
  }

  &:hover {
    background-color: #f5f8fa;
  }
}

.media-left, .modal-body, .media-right {
  vertical-align: middle;
}

.post-avatar {
  height: 48px;
  width: 48px;
}

.post-title {
  font-size: 15px;
  line-height: 2em;
  display: inline;
  @include text-dark;
}

.post-title, .post-summary {
  @include one-line-text;
}



.post-content {
  font-size: 14px;
  img {
    width: auto !important;
    height: auto !important;
    max-width: 100%;
    max-height: 2048px;
  }
}

.post-author:before,
.post-read-count:before,
.post-author-last:before {
  content: '•';
  display: inline-block;
  padding: 0 5px;
}

.post-footer {
  padding: 0.3em 0;
  font-size: 12px;

  a,span {
    @include text-grey;
  }

  .label {
    font-weight: normal;
    @include border-radius(2px);
  }
}

.tag {
  font-weight: 600;
}

.tag+.tag:before {
  @include sp;
}

.tag-sm {
  @include text-grey;
}

@media (min-width: $screen-sm-min) {
  .post-wrapper {
    margin-left: 50px;
  }
}