body {
  font: 14px/150% -apple-system, BlinkMacSystemFont, "Microsoft Yahei UI Light","Segoe UI", Roboto, Helvetica, "PingFang SC", "WenQuanYi Micro Hei", ui-icon, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  color: #666;
  font-weight: 300;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  outline: none;
  text-decoration: none;
}

a {
  color: #666;

  /*&:visited,
  &:hover,
  &:active {
    color: #333;
  }*/
}

.clearfix:before, .clearfix:after, .modal-footer:before, .modal-footer:after {
  content: " ";
  display: table;
}

.clearfix:after, .modal-footer:after {
  clear: both;
}

.btn, .btn.active, .btn:active, .btn.active:active,.btn.focus,.btn.focus:active {
  &.focus,
  &:focus{
    outline: none;
    outline-offset: 0;
  }
}
