// Variables
//
// Copy settings from this file into the provided `_custom.scss` to override
//
// Table of Contents
//
// Colors
$color-primary: #19CF86 !default;
$hover-color: rgba(25,207,134,.8) !default;
$text-color-default: #666 !default;
$text-color-dark: #333 !default;
$text-color-grey: #ABA8A6 !default;
$text-color-light: #aaa !default;
$text-color-white: #fff !default;
$border-clolor-primary: $color-primary !default;
// Options
// Spacing
$space-2: 2px !default;
// Body
// Links
$images-path: '../images' !default;
$theme-images-path: './images' !default;
// Grid breakpoints
// Grid containers
// Grid columns
// Fonts
// Components


$font-size-h1: 24px !default;
$font-size-h2: 20px !default;
$font-size-h3: 18px !default;
$font-size-h4: 16px !default;
$font-size-h5: 14px !default;
$font-size-h6: 12px !default;
