// Variables
//
// Copy settings from this file into the provided `_custom.scss` to override
//
// Table of Contents
//
// Colors
$color-primary: #19CF86 !default;
$hover-color: rgba(25,207,134,.8) !default;
$text-color-default: #666 !default;
$text-color-dark: #333 !default;
$text-color-grey: #ABA8A6 !default;
$text-color-light: #aaa !default;
$text-color-white: #fff !default;
$border-clolor-primary: $color-primary !default;
// Options
// Spacing
$space-2: 2px !default;
// Body
// Links
$images-path: '../images' !default;
$theme-images-path: './images' !default;
// Grid breakpoints
// Grid containers
// Grid columns
// Fonts
// Components


$font-size-h1: 24px !default;
$font-size-h2: 20px !default;
$font-size-h3: 18px !default;
$font-size-h4: 16px !default;
$font-size-h5: 14px !default;
$font-size-h6: 12px !default;


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

