@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/**
 * 重写Bootstrap中的样式
 */
/* line 4, ../sass/lib/_bootstrap.scss */
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #337ab7;
}

/* line 8, ../sass/lib/_bootstrap.scss */
.nav-pills > li > a {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border-top: 0;
  padding: 5px 15px;
}

/* line 3, ../sass/lib/_adminlte.scss */
.content-header {
  padding: 15px 0 15px 0;
}

/* line 7, ../sass/lib/_adminlte.scss */
.box {
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
}

/* line 12, ../sass/lib/_adminlte.scss */
.widget-user .widget-user-username {
  font-size: 20px;
}

/* line 16, ../sass/lib/_adminlte.scss */
.widget-user .widget-user-desc {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* line 1, ../sass/_sidebar.scss */
.sidebar {
  padding-bottom: 0;
}

/* line 5, ../sass/_sidebar.scss */
.list {
  padding-left: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  list-style: none;
}
/* line 11, ../sass/_sidebar.scss */
.list .item {
  border-bottom: 1px solid #f4f4f4;
  margin: 0;
  position: relative;
  display: block;
  float: none;
}
/* line 18, ../sass/_sidebar.scss */
.list .item a {
  text-decoration: none;
  position: relative;
  display: block;
  padding: 10px 15px;
  color: #444;
}
/* line 25, ../sass/_sidebar.scss */
.list .item a:hover {
  background: #f7f7f7;
}

/* line 3, ../sass/_post.scss */
.media-left, .modal-body, .media-right {
  vertical-align: middle;
}

/* line 7, ../sass/_post.scss */
.post-avatar {
  height: 48px;
  width: 48px;
}

/* line 12, ../sass/_post.scss */
.post-footer span, .post-author, .post-author-last {
  color: #ccc;
}

/* line 16, ../sass/_post.scss */
.post-title {
  font-size: 16px;
}

/* line 20, ../sass/_post.scss */
.post-title, .post-summary {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* line 24, ../sass/_post.scss */
.post-author-last:before {
  content: '•';
  display: inline-block;
  padding: 0 5px;
}

/* line 30, ../sass/_post.scss */
.post-footer {
  padding-bottom: 0.3em;
  font-size: 12px;
}
/* line 34, ../sass/_post.scss */
.post-footer .label {
  font-weight: normal;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
